name: Lint

on:
    pull_request:
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/setup-env

            - name: Run ESLint
              run: pnpm -F canvas-lord lint
