name: pnpm install
on:
    workflow_call:
        inputs:
            node_version:
                required: false
                type: string
                default: '22'

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ inputs.node_version }}
                  cache: 'pnpm'

            - name: Setup pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9
                  run_install: false

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Cache pnpm store
              uses: actions/cache@v4
              with:
                  path: ~/.local/share/pnpm
                  key: pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
                  restore-keys: \
                      pnpm-store
